# Configuration keys required by this project. Values intentionally omitted.
ALGOD_API_URL=
ASSET_ID_FNODE=
ASSET_ID_FRY1=
ASSET_ID_FRY2=
ASSET_ID_TFRY=
BOT_MAP=
BURN_WALLET_ADDRESS=
CLIENT_ID=
CLOSED_TICKET_CAT=
CONSOLE_LOG_LEVEL=
DATABASE_URL=
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_TOKEN=
FILE_LOG_LEVEL=
FLXTIME_FLEXER_ROLE_ID=
FLXTIME_SERVER_ID=
FLXTIME_VERIFICATION_ENABLED=
FRYBAL_ROLE_ID=
GOOGLE_BOTLOGS_FOLDER_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_REFRESH_TOKEN=
GOOGLE_SHARED_DRIVE_ID=
GUILD_ID=
INACTIVITY_MONITORING_ENABLED=
INTERN_ROLE_ID=
LOG_CHANNEL_ID=
LOG_DIR=
LOG_LEVEL=
LOW_BAL_CHANNEL_ID=
MONGO_CA_CERT_PATH=
MONGO_DASH_URI=
MONGO_FLX_URI=
N8N_HOOK=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NODE_ENV=
REWARD_WALLET_ADDRESS=
STAFF_MAP=
STAFF_MOD_CHANNEL_ID=
STAFF_ROLE_ID=
SUPABASE_ACCESS_TOKEN=
SUPABASE_PROJECT_ID=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SERVICE_ROLE=
SUPABASE_URL=
TICKET_ADMIN_ROLE=
TICKET_CAT_FLXTIME_PARTNERS=
TICKET_CAT_FRY_CONVERSION=
TICKET_CAT_MINER_KEYS=
TICKET_CAT_NODE_FORGO_RETURN=
TICKET_CAT_ORDER=
TICKET_CAT_REGISTRATION=
TICKET_CAT_REWARDS=
TICKET_CAT_TECH_SUPPORT=
TICKET_CAT1=
TICKET_CAT2=
TICKET_CATEGORY_ID=
TICKET_MOD_ROLE=
